[core]
	excludesfile = ~/.gitignore_default
[user]
	name = Justin Adkins
	email = justin.adkins@mythcoders.com
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	co = checkout
	br = branch
	mkbr = checkout -b
	rmbr = branch -d
	mvbr = branch -m
	com = commit -m
	st = status -s
[color]
	ui = auto
[github]
	user = jmadkins
[pull]
	rebase = true
