[core]
	excludesfile = ~/.gitignore_default
[user]
	name = Justin Adkins
	email = justin.adkins@mythcoders.com
	signingkey = FB534FC5E2561F34ADFACE9F3239E372D8C06481
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
	process = git-lfs filter-process
[alias]
	co = checkout
	br = branch
	mkbr = checkout -b
	rmbr = branch -d
	mvbr = branch -m
	com = commit -m
	st = status -s
[color]
	ui = auto
[github]
	user = jmadkins
[pull]
  rebase = true
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
