[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Justin Adkins
	email = justin.adkins@mythcoders.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
	co = checkout
	br = branch
	mkbr = checkout -b
	rmbr = branch -d
	mvbr = branch -m
	com = commit -m
	st = status -s
[color]
	ui = auto
[github]
	user = jmadkins
[pull]
  rebase = true
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = false
[init]
	defaultBranch = main
